---
title: Deliverables
---
<div class="box">
  <p><a href='#sdate'>See the deliverables list sorted by delivery date</a></p>
</div>
<div class="box">
  <p><a href='#sid'>See the deliverables list sorted by WP</a></p>
</div>
<div class="box">
  <p><a href='#spartner'>See the deliverables list sorted by partner</a></p>
</div>

{% assign date_today = "today" | date: "%Y-%m-%d" %}
{% assign sort_type = "date, id, partner" | split: ", " %}

{% for stype in sort_type %}

  <h1 id="s{{ stype }}">Sorted by {{ stype }}</h1>
    <table class="del">

    <tr>
      <th colspan="2">Deliverables</th>
      <th>Partner</th>
      <th>Due date</th>
    </tr>

    {% assign sorted_del = site.data.deliverables | sort: stype %}
    {% for del in sorted_del %}
      {% assign date = del.date | date: "%Y-%m-%d" %}
      {% if date < date_today %}
        {% if del.status == 'late' %}
          <tr class='late'>
        {% else %}
          <tr class='delivered'>
        {% endif %}
      {% else %}
        <tr>
      {% endif %}
          <td>{{ del.id }}</td>
          <td>{{ del.name }}{% if del.link %} <a href="{{ del.link }}"><img src="{{ del.img }}" alt="({{ del.link | replace:'https://doi.org/', '' }})"></a>{% endif %}</td>
          <td>{{ del.partner }}</td>
          <td>{{ del.date }}</td>
        </tr>
    {% endfor %}
  </table>
{% endfor %}
