---
title: Deliverables
---
<div class="box">
  <p><a href='#sdate'>See the deliverables list sorted by delivery date</a></p>
</div>
<div class="box">
  <p><a href='#sid'>See the deliverables list sorted by WP</a></p>
</div>
<div class="box">
  <p><a href='#spartner'>See the deliverables list sorted by partner</a></p>
</div>

{% assign date_today = "today" | date: "%Y-%m-%d" %}
{% capture date_upcoming %}{{ date_today | date: '%s' | plus: 2634544 | date: "%Y-%m-%d" }}{% endcapture %} <!-- 1. convert to Unix timestamp 2. add 1 month + 1 week in Epoch time (epochconvert.com) to the date_upcoming 3. convert date into a string -->
{% assign sort_type = "date, id, partner" | split: ", " %}

{% for stype in sort_type %}

  <h1 id="s{{ stype }}">Sorted by {{ stype }}</h1>
    <table class="del">

    <tr>
      <th colspan="2">Deliverables</th>
      <th>Partner</th>
      <th>Date</th>
    </tr>

    {% assign sorted_del = site.data.deliverables | sort: stype %}
    {% for del in sorted_del %}
      {% assign date = del.date | date: "%Y-%m-%d" %}
      {% if date <= date_today %}
        {% if del.status == 'delivered' or
        del.status == 'accepted' %}
          <tr class='delivered clickable'>
        {% else %}
          <tr class='late'>
        {% endif %}
      {% elsif date <= date_upcoming %}
        <tr class='upcoming'>
      {% else %}
        <tr>
      {% endif %}
          <td>{{ del.id }}</td>
          <td>{{ del.name }}</td>
          <td>{{ del.partner }}</td>
          <td class='date'>{{ del.date | date_to_string }}</td>
        </tr>
        <tr class='toggled-row'>
          <td colspan="4">
            <strong>Dissemination level:</strong> {% if del.level %} {{ del.level }} {% else %} Public {% endif %} <br>
            {% if del.link %}<strong>DOI:</strong> <a href="{{ del.link }}">{{ del.link | replace:'https://doi.org/', '' }}</a><br>{% endif %}
            {% if del.description %}<strong>Description:</strong> {{ del.description }}<br>{% endif %}
            <strong>Status:</strong> Delivered <strong>{% if del.status == 'delivered' %}but not yet{% else %}and{% endif %} accepted</strong> by the European Commission
          </td>
        </tr>
    {% endfor %}
  </table>
{% endfor %}
