---
title: Milestones
---
<div class="box">
  <p><a href='#sdate'>See the milestones list sorted by date</a></p>
</div>
<div class="box">
  <p><a href='#sid'>See the milestones list sorted by number</a></p>
</div>
<div class="box">
  <p><a href='#spartner'>See the milestones list sorted by partner</a></p>
</div>

<p><i>Note: you can click on the achieved milestones (in green) to display details.</i></p>

{% assign date_today = "today" | date: "%Y-%m-%d" %}
{% capture date_upcoming %}{{ date_today | date: '%s' | plus: 2634544 | date: "%Y-%m-%d" }}{% endcapture %} <!-- 1. convert to Unix timestamp 2. add 1 month + 1 week in Epoch time (epochconvert.com) to the date_upcoming 3. convert date into a string -->
{% assign sort_type = "date, id, partner" | split: ", " %}

{% for stype in sort_type %}
  <h1 id="s{{ stype }}">Sorted by {{ stype }}</h1>
    <table class="del">

    <tr>
      <th colspan="2">Milestones</th>
      <th>Partner</th>
      <th>Date</th>
    </tr>

    {% assign sorted_mil = site.data.milestones | sort: stype %}
    {% for mil in sorted_mil %}
      {% assign date = mil.date | date: "%Y-%m-%d" %}
      {% if date <= date_today %}
        {% if mil.status == 'achieved' %}
          <tr class='delivered clickable'>
        {% else %}
          <tr class='late'>
        {% endif %}
      {% elsif date <= date_upcoming %}
        <tr class='upcoming'>
      {% else %}
        <tr>
      {% endif %}
          <td>{{ mil.id }}</td>
          <td>{{ mil.name }}</td>
          <td>{{ mil.partner }}</td>
          <td class='date'>{{ mil.date | date_to_string }}</td>
        </tr>
        <tr class='toggled-row'>
          <td colspan="4">
            <strong>Status:</strong> Achieved<br>
            {% if mil.link %}<strong>DOI:</strong> <a href="{{ del.link }}">{{ mil.link | replace:'https://doi.org/', '' }}</a><br>{% endif %}
            {% if mil.comments %}<strong>Comments:</strong> {{ mil.comments }}<br>{% endif %}
          </td>
        </tr>
    {% endfor %}

  </table>
{% endfor %}
