---
title: Milestones
---
<div class="box">
  <p><a href='#sdate'>See the milestones list sorted by date</a></p>
</div>
<div class="box">
  <p><a href='#sid'>See the milestones list sorted by number</a></p>
</div>
<div class="box">
  <p><a href='#spartner'>See the milestones list sorted by partner</a></p>
</div>

{% assign date_today = "today" | date: "%Y-%m-%d" %}
{% assign sort_type = "date, id, partner" | split: ", " %}

{% for stype in sort_type %}
  <h1 id="s{{ stype }}">Sorted by {{ stype }}</h1>
    <table class="del">

    <tr>
      <th colspan="2">Milestones</th>
      <th>Partner</th>
      <th>Date</th>
    </tr>

    {% assign sorted_mil = site.data.milestones | sort: stype %}
    {% for mil in sorted_mil %}
      {% assign date = mil.date | date: "%Y-%m-%d" %}
      {% if date <= date_today %}
        {% if mil.status == 'late' %}
          <tr class='late'>
        {% else %}
          <tr class='delivered'>
        {% endif %}
      {% else %}
        <tr>
      {% endif %}
          <td>{{ mil.id }}</td>
          <td>{{ mil.name }}</td>
          <td>{{ mil.partner }}</td>
          <td class='date'>{{ mil.date | date_to_string }}</td>
        </tr>
    {% endfor %}

  </table>
{% endfor %}
