// Responsive layout: changes the font size to vw when screen < resp-max-width
@media screen and (max-width: $max-width) {
  * {
    font-size: $resp-font-size;
  }

  body {
    margin: 0 $resp-margin-std 0 $resp-margin-std;
  }

  head, nav, .content, footer {
    margin: 0;
  }

  .content {
    margin-top: $resp-margin-small;
  }

  div.box {
    width: $resp-margin-big;
    line-height: $resp-margin-big;
  }

  .overflow-area {
    height: $resp-page-height;
  }

  .update, .update * {
    font-size: $resp-small-font-size;
  }

}
