// Scroll to the top button
#scrollBtn {
  display: none;
  position: fixed;
  bottom: $padding-big;
  right: $padding-big;
  z-index: 99;
  background-color: $color-strong;
  color: $color-fade;
  cursor: pointer;
  padding: $padding-big;
  border-radius: $border-std;
}

#scrollBtn:hover {
  background-color: $color-fade;
  color: $color-strong;
}

.overflow-area {
  width: 100%;
  height: $page-height;
  overflow: scroll;

  p, ul {
    padding-right: $padding-std;
  }
}
